.App {
    margin: 0 auto;
}

header{
    margin-bottom: 36px;
}

h1{
    font-size: 28px;
}

#form, #formBody, #formBottom{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#form{
    gap: 30px;
}

.clickable:hover, #sendButton:hover{
    background-color: #18B77A;
    color: #FDFDFD;
}
.clickable:hover::placeholder{
    color: #FDFDFD;
    opacity: 1;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 340px;
}

.input-field{
    padding: 17px 15px;
    border: 1px solid #707070;
}

.image-input-field{
    border-style: dashed;
}

.select-wrapper{
    position: relative;
    display: flex;
}

.select-field{
    width: 340px;
    appearance: none;
    background-color: #FDFDFD;
}
.select-field:focus{
    background-color: #FDFDFD;
    color: #707070;
}
.select-field > option{
    background-color: #FDFDFD;
}
.select-field > option:hover{
    background-color: #18B77A;
}

.select-arrow{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #FDFDFD00;
    width: 20px;
}

.switcher{
    display: flex;

    max-width: 340px;
    height: 52px;

    border: 1px solid #707070;
}

.switcher-button{
    border-radius: 0;
    flex-grow: 1;

    background-color: #FDFDFD;
}

.switcher-button:not(:last-child){
    border-right: 1px solid #707070;
}

.switcher-button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.switcher-button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.checkbox-wrapper{
    display: block;
    position: relative;

    padding-left: 40px;

    max-width: 300px;

    font-size: 13px;
    user-select: none;
}
.checkbox-wrapper input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkbox{
    position: absolute;
    top: -7px;
    left: 0;
    height: 30px;
    width: 30px;

    border: 1px solid #707070;

    background-color: #FDFDFD;
}
.checkbox-wrapper input:checked ~ .checkbox{
    background-color: #128659;
    opacity: 1;
}

.info{
    font-size: 13px;
}

#sendButton{
    max-width: 125px;
    height: 40px;
    background-color: #128659;
    color: #FDFDFD;
    cursor: url("./icons/mic.svg"), auto;
}
